.thermostat {
  background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -300px;
  /*border: 1px solid red;*/
  text-align: center;
  border-radius: 50%;
}

.inner_box {
  background: linear-gradient(to bottom, #383838 0%,#000000 100%);
  /*border: 1px solid green;*/
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

.temp_change, .forcast  {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.temp_change {
  display: inline-block;
}

.buttons {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gauge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.power_saving {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: green;
}

.low_usage {
  color: green;
  font-size: 70px;
}

.medium_usage {
  color: white;
  font-size: 70px;
}

.high_usage {
  color: red;
  font-size: 70px;
}
